#header-text-text .bg {
    background-image: url('../images/bg-29.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    opacity: 0.25;
}#benefits-3col-10 .bg {
    background-image: url('../images/bg-59.jpg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    opacity:0.075;
}
#header-text-img-3 .bg-wrap {
    background-color: #000000;
}

#header-text-img-3 .bg {
    opacity: 0.15;
}
#action-text-btn .bg {
    background-image: url('../images/bg-6.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity:0.1;
}
